In [1]:
import pandas as pd

In [2]:
# From official website of the municipality of Milan we get information about Borough and Neighborhood
df_milano = pd.read_csv('http://dati.comune.milano.it/dataset/5c6519f6-6d26-41c9-b53b-6106e08d1b90/resource/89562e43-a054-4563-aab5-0449df7e9155/download/ds634_civici_quartieri_zone_nil_cap_vie_20180518-unicode.csv',sep = ';')

In [3]:
print(df_milano.shape)
df_milano.head()

(57176, 12)

,CODICE_VIA,DUG,DENOMINAZIONE VIA,NUMERO CIVICO,BARRA2,CAP,COMUNE,ID_Qri,QUARTIERE,MUNICIPIO,ID_NIL,NIL
0,3135,Via,ABAMONTI GIUSEPPE,4,NaN,20129,MILANO,2,PORTA VENEZIA - BUENOS AIRES,3,21,BUENOS AIRES - VENEZIA
1,3135,Via,ABAMONTI GIUSEPPE,2,NaN,20129,MILANO,2,PORTA VENEZIA - BUENOS AIRES,3,21,BUENOS AIRES - VENEZIA
2,3135,Via,ABAMONTI GIUSEPPE,1,NaN,20129,MILANO,2,PORTA VENEZIA - BUENOS AIRES,3,21,BUENOS AIRES - VENEZIA
3,2558,Via,ABANO,10,NaN,20131,MILANO,9,CENTRALE - LORETO,3,20,LORETO
4,2558,Via,ABANO,11,NaN,20131,MILANO,9,CENTRALE - LORETO,3,20,LORETO

In [7]:
df_milano[['QUARTIERE','MUNICIPIO']].drop_duplicates().shape

(61, 2)

In [5]:
df_milano[['QUARTIERE','MUNICIPIO']].drop_duplicates().groupby(['QUARTIERE'])['MUNICIPIO'].unique()

QUARTIERE
ACCURSIO - VILLAPIZZONE                                              [8]
AFFORI - BRUZZANO                                                    [9]
BAGGIO - MUGGIANO                                                    [7]
BANDE NERE - SELINUNTE                                            [7, 6]
BARONA                                                               [6]
BICOCCA - GRECO                                                   [9, 2]
BOSCO IN CITTA' - TRENNO - FIGINO                                 [7, 8]
BOVISASCA - COMASINA                                                 [9]
CENTRALE - LORETO                                                 [3, 2]
CENTRO                                                         [1, 9, 5]
CITTA' STUDI - LAMBRATE                                              [3]
CORSICA - FORLANINI                                               [4, 3]
CORVETTO - LODI - SCALO ROMANA                                    [5, 4]
EXPO - MAGGIORE                                                      [8]
FORZE ARMATE - QUINTO ROMANO - QUARTO CAGNINO                     [7, 6]
GARIBALDI - REPUBBLICA - ISOLA                                    [2, 9]
GHISOLFA - FARINI                                                 [8, 9]
GIAMBELLINO - LORENTEGGIO                                            [6]
GORLA - VILLA S. GIOVANNI                                            [2]
GRATOSOGLIO                                                          [5]
MACIACHINI - BOVISA - DERGANO                                     [9, 2]
MECENATE - ORTOMERCATO                                               [4]
MONLUE' - PONTE LAMBRO                                               [4]
NAVIGLI - TORTONA                                                 [6, 5]
NIGUARDA - Parco Nord                                                [9]
PADOVA - ADRIANO                                                     [2]
PAGANO - DE ANGELI - WASHINGTON                             [7, 8, 1, 6]
PORTA ROMANA - 22 MARZO                                           [5, 4]
PORTA VENEZIA - BUENOS AIRES                                      [3, 2]
Parco Lambro - CIMIANO                                               [3]
Parco delle Abbazie - CHIARAVALLE - RONCHETTO DELLE RANE             [5]
QT8 - GALLARATESE                                                    [8]
QUARTO OGGIARO - OSPEDALE SACCO                                      [8]
RIPAMONTI - STADERA                                                  [5]
ROGOREDO - S. GIULIA - S. MARTINO                                    [4]
RONCHETTO SUL NAVIGLIO - CANTALUPA                                [6, 5]
S. CRISTOFORO - TIBALDI                                           [6, 5]
S. SIRO                                                              [7]
SARPI                                                             [8, 1]
TRE TORRI - PORTELLO                                                 [8]
Name: MUNICIPIO, dtype: object

In [8]:
# From official website of the municipality of Milan we Lat Long of Borough and Neighborhood
df_milano_civici_coord = pd.read_csv('http://dati.comune.milano.it/dataset/5c6519f6-6d26-41c9-b53b-6106e08d1b90/resource/533b4e63-3d78-4bb5-aeb4-6c5f648f7f21/download/ds634_civici_coordinategeografiche_20200403_csv.zip', sep = ';')

In [9]:
print(df_milano_civici_coord.shape)
df_milano_civici_coord.head()

(63117, 38)

,CODICE_VIA,NUMERO,LETTERA,BARRA,BARRA2,NUMEROCOMPLETO,MUNICIPIO,RESIDENZIALE,STATOCIVICO,DATA_APPLICAZIONE,...,DESCRITTIVO,ANNCSU,OPENSTREETMAP,PROGANNCSU,CAP,ID_NIL,NIL,LONG_WGS84,LAT_WGS84,Location
0,1,21,NaN,,N08,21N08,1.0,0,Iter in corso,NaN,...,DEL DUOMO,DEL DUOMO,DEL DUOMO,NaN,NaN,NaN,NaN,9.189762,45.464840,"(45.464839928425675, 9.189761993000747)"
1,1,21,NaN,NaN,N05,21N05,1.0,0,Iter in corso,NaN,...,DEL DUOMO,DEL DUOMO,DEL DUOMO,NaN,NaN,NaN,NaN,9.189536,45.464845,"(45.464845483, 9.18953582351)"
2,1,21,NaN,NaN,N06,21N06,1.0,0,Iter in corso,NaN,...,DEL DUOMO,DEL DUOMO,DEL DUOMO,NaN,NaN,NaN,NaN,9.189633,45.464844,"(45.4648439154, 9.18963327725)"
3,1,21,NaN,NaN,N07,21N07,1.0,0,Iter in corso,NaN,...,DEL DUOMO,DEL DUOMO,DEL DUOMO,NaN,NaN,NaN,NaN,9.189699,45.464842,"(45.4648420342, 9.18969913993)"
4,1,21,NaN,NaN,NaN,21,1.0,1,Applicato,20041231.0,...,DEL DUOMO,DEL DUOMO,DEL DUOMO,NaN,20121.0,1.0,DUOMO,9.189584,45.464843,"(45.4648429994, 9.18958370282)"

In [10]:
# Data Cleaning
df_milano2 = df_milano_civici_coord[['CODICE_VIA','NUMEROCOMPLETO','MUNICIPIO','RESIDENZIALE','TIPO','DESCRITTIVO','ANNCSU','LAT_WGS84','LONG_WGS84','Location']]
df_milano2.head()

,CODICE_VIA,NUMEROCOMPLETO,MUNICIPIO,RESIDENZIALE,TIPO,DESCRITTIVO,ANNCSU,LAT_WGS84,LONG_WGS84,Location
0,1,21N08,1.0,0,Piazza,DEL DUOMO,DEL DUOMO,45.464840,9.189762,"(45.464839928425675, 9.189761993000747)"
1,1,21N05,1.0,0,Piazza,DEL DUOMO,DEL DUOMO,45.464845,9.189536,"(45.464845483, 9.18953582351)"
2,1,21N06,1.0,0,Piazza,DEL DUOMO,DEL DUOMO,45.464844,9.189633,"(45.4648439154, 9.18963327725)"
3,1,21N07,1.0,0,Piazza,DEL DUOMO,DEL DUOMO,45.464842,9.189699,"(45.4648420342, 9.18969913993)"
4,1,21,1.0,1,Piazza,DEL DUOMO,DEL DUOMO,45.464843,9.189584,"(45.4648429994, 9.18958370282)"

In [53]:
df_milano3 = df_milano2.groupby(['MUNICIPIO','CODICE_VIA','NUMEROCOMPLETO'])['LAT_WGS84','LONG_WGS84'].mean().reset_index()
# df_milano3['NUMERO CIVICO'] = df_milano3['NUMERO'].astype(str)
print(df_milano3.shape)
print(df_milano3.head())

(62521, 5)
   MUNICIPIO  CODICE_VIA NUMEROCOMPLETO  LAT_WGS84  LONG_WGS84
0        1.0           1             10  45.463077    9.190538
1        1.0           1             12  45.463144    9.191071
2        1.0           1          13N02  45.463939    9.188399
3        1.0           1          13N05  45.464023    9.188405
4        1.0           1          13N06  45.464059    9.188404

In [50]:
df_milano_unique =df_milano[['MUNICIPIO','QUARTIERE','CODICE_VIA', 'NUMERO CIVICO', 'ID_NIL', 'NIL']].drop_duplicates().set_index(['CODICE_VIA', 'NUMERO CIVICO']).sort_index()
# df_milano_unique = df_milano_unique.loc[~df_milano_unique.index.duplicated(keep = 'first')]
print(df_milano_unique.shape)
df_milano_unique.head(20)

(57175, 4)

                          MUNICIPIO QUARTIERE  ID_NIL    NIL
CODICE_VIA NUMERO CIVICO
1          10                     1    CENTRO       1  DUOMO
           12                     1    CENTRO       1  DUOMO
           13N02                  1    CENTRO       1  DUOMO
           13N05                  1    CENTRO       1  DUOMO
           13N06                  1    CENTRO       1  DUOMO
           13N08                  1    CENTRO       1  DUOMO
           14                     1    CENTRO       1  DUOMO
           14A                    1    CENTRO       1  DUOMO
           15N01                  1    CENTRO       1  DUOMO
           15N02                  1    CENTRO       1  DUOMO
           15N03                  1    CENTRO       1  DUOMO
           15N04                  1    CENTRO       1  DUOMO
           15N05                  1    CENTRO       1  DUOMO
           15N06                  1    CENTRO       1  DUOMO
           16                     1    CENTRO       1  DUOMO
           17                     1    CENTRO       1  DUOMO
           17N01                  1    CENTRO       1  DUOMO
           17N02                  1    CENTRO       1  DUOMO
           17N03                  1    CENTRO       1  DUOMO
           17N04                  1    CENTRO       1  DUOMO

In [56]:
df_joint = df_milano3.join(df_milano_unique, on = ['CODICE_VIA', 'NUMEROCOMPLETO'], how= 'inner', rsuffix = '_y')
# print('df_milano: {} df_milano unique: {}'.format(df_milano.dtypes, df_milano_unique.dtypes))

In [57]:
df_joint.shape

(57159, 9)

In [58]:
df_joint.head()

,MUNICIPIO,CODICE_VIA,NUMEROCOMPLETO,LAT_WGS84,LONG_WGS84,MUNICIPIO_y,QUARTIERE,ID_NIL,NIL
0,1.0,1,10,45.463077,9.190538,1,CENTRO,1,DUOMO
1,1.0,1,12,45.463144,9.191071,1,CENTRO,1,DUOMO
2,1.0,1,13N02,45.463939,9.188399,1,CENTRO,1,DUOMO
3,1.0,1,13N05,45.464023,9.188405,1,CENTRO,1,DUOMO
4,1.0,1,13N06,45.464059,9.188404,1,CENTRO,1,DUOMO

In [59]:
#vedo discrepanze
# df_joint.loc[df_joint.MUNICIPIO != df_joint.MUNICIPIO_y]

In [60]:
df_joint=df_joint.groupby(['MUNICIPIO_y','QUARTIERE', 'NIL', 'ID_NIL'])['LAT_WGS84','LONG_WGS84'].mean().reset_index()

In [61]:
print(df_joint.shape)
df_joint.head()

(109, 6)

   MUNICIPIO_y QUARTIERE                   NIL  ID_NIL  LAT_WGS84  LONG_WGS84
0            1    CENTRO                 BRERA       2  45.473304    9.187426
1            1    CENTRO                 DUOMO       1  45.463219    9.187044
2            1    CENTRO             GUASTALLA       4  45.463466    9.202275
3            1    CENTRO  Giardini Pta Venezia       3  45.474078    9.201522
4            1    CENTRO  MAGENTA - S. VITTORE       7  45.463442    9.171132

In [44]:
# df_joint.dropna(subset = ['MUNICIPIO'], inplace = True)

In [45]:
df_joint.head(100)

    MUNICIPIO_y                        QUARTIERE  LAT_WGS84  LONG_WGS84
0             1                           CENTRO  45.464513    9.186850
1             1  PAGANO - DE ANGELI - WASHINGTON  45.473752    9.166935
2             1                            SARPI  45.479306    9.175884
3             2                  BICOCCA - GRECO  45.499653    9.209268
4             2                CENTRALE - LORETO  45.489202    9.212039
..          ...                              ...        ...         ...
56            9                           CENTRO  45.480601    9.187039
57            9   GARIBALDI - REPUBBLICA - ISOLA  45.488174    9.189705
58            9                GHISOLFA - FARINI  45.495472    9.176375
59            9    MACIACHINI - BOVISA - DERGANO  45.501642    9.175225
60            9            NIGUARDA - Parco Nord  45.516930    9.195870

[61 rows x 4 columns]

In [48]:
df_joint[['QUARTIERE','MUNICIPIO_y']].drop_duplicates().groupby(['QUARTIERE'])['MUNICIPIO_y'].unique()

QUARTIERE
ACCURSIO - VILLAPIZZONE                                              [8]
AFFORI - BRUZZANO                                                    [9]
BAGGIO - MUGGIANO                                                    [7]
BANDE NERE - SELINUNTE                                            [6, 7]
BARONA                                                               [6]
BICOCCA - GRECO                                                   [2, 9]
BOSCO IN CITTA' - TRENNO - FIGINO                                 [7, 8]
BOVISASCA - COMASINA                                                 [9]
CENTRALE - LORETO                                                 [2, 3]
CENTRO                                                         [1, 5, 9]
CITTA' STUDI - LAMBRATE                                              [3]
CORSICA - FORLANINI                                               [3, 4]
CORVETTO - LODI - SCALO ROMANA                                    [4, 5]
EXPO - MAGGIORE                                                      [8]
FORZE ARMATE - QUINTO ROMANO - QUARTO CAGNINO                     [6, 7]
GARIBALDI - REPUBBLICA - ISOLA                                    [2, 9]
GHISOLFA - FARINI                                                 [8, 9]
GIAMBELLINO - LORENTEGGIO                                            [6]
GORLA - VILLA S. GIOVANNI                                            [2]
GRATOSOGLIO                                                          [5]
MACIACHINI - BOVISA - DERGANO                                     [2, 9]
MECENATE - ORTOMERCATO                                               [4]
MONLUE' - PONTE LAMBRO                                               [4]
NAVIGLI - TORTONA                                                 [5, 6]
NIGUARDA - Parco Nord                                                [9]
PADOVA - ADRIANO                                                     [2]
PAGANO - DE ANGELI - WASHINGTON                             [1, 6, 7, 8]
PORTA ROMANA - 22 MARZO                                           [4, 5]
PORTA VENEZIA - BUENOS AIRES                                      [2, 3]
Parco Lambro - CIMIANO                                               [3]
Parco delle Abbazie - CHIARAVALLE - RONCHETTO DELLE RANE             [5]
QT8 - GALLARATESE                                                    [8]
QUARTO OGGIARO - OSPEDALE SACCO                                      [8]
RIPAMONTI - STADERA                                                  [5]
ROGOREDO - S. GIULIA - S. MARTINO                                    [4]
RONCHETTO SUL NAVIGLIO - CANTALUPA                                [5, 6]
S. CRISTOFORO - TIBALDI                                           [5, 6]
S. SIRO                                                              [7]
SARPI                                                             [1, 8]
TRE TORRI - PORTELLO                                                 [8]
Name: MUNICIPIO_y, dtype: object

In [49]:
df_joint[['QUARTIERE','MUNICIPIO_y']].drop_duplicates().groupby(['QUARTIERE']).count().values.sum()

61